# Build outputs
build/
build-static/
*.o
*.a
*.so

# Packages & installers
*.deb
*.qsi
*.tar.gz
*.AppImage
qsi_setup/deb_packages/*.deb
!qsi_setup/deb_packages/.gitkeep
qsi_setup/output/*.qsi
!qsi_setup/output/.gitkeep
qsi_setup/qinstaller

# Temporary & Work dirs
_work_dont_commit
.directory
.DS_Store
*.swp
*~
.cache/
.vscode/
